.inputWrapper {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-width: 860px;
  box-sizing: border-box;
  padding: 0 20px;

  .inputField {
    width: 100%;
    padding-left: 30px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .searchIcon {
    position: absolute;
    top: 13px;
    padding-left: 8px;
  }
}
/* Media Queries for Phones */
@media (max-width: 1200px) {
  .inputWrapper {
    min-width: 370px;
  }
}
